@import "tailwindcss";

@theme {
  --color-background: #14121b;
  --color-on-background: #e6e0ee;
  
  --color-surface: #14121b;
  --color-surface-dim: #14121b;
  --color-surface-bright: #3a3842;
  --color-surface-container-lowest: #0f0d16;
  --color-surface-container-low: #1c1a24;
  --color-surface-container: #201e28;
  --color-surface-container-high: #2b2933;
  --color-surface-container-highest: #36333e;
  --color-on-surface: #e6e0ee;
  --color-on-surface-variant: #c9c4d8;
  
  --color-outline: #938ea1;
  --color-outline-variant: #484555;
  --color-outline-dim: #272C33;
  
  --color-primary: #7C5CFF;
  --color-on-primary: #EAEFF4;
  --color-primary-fixed: #cabeff;
  --color-primary-container: #947dff;
  --color-on-primary-container: #2a0088;
  
  --color-secondary: #c2c7d0;
  --color-on-secondary: #2c3138;
  --color-secondary-container: #42474f;
  --color-on-secondary-container: #b1b5be;
  
  --color-tertiary: #ffb780;
  --color-on-tertiary: #4e2600;
  --color-tertiary-container: #d7791f;
  --color-on-tertiary-container: #442000;
  
  --color-error: #ffb4ab;
  --color-on-error: #690005;
  --color-error-container: #93000a;
  --color-on-error-container: #ffdad6;
  
  --font-sans: "Inter", sans-serif;
  --font-mono: "monospace";
  
  --radius-sm: 0.25rem;
  --radius-DEFAULT: 0.5rem;
  --radius-md: 0.75rem;
  --radius-lg: 1rem;
  --radius-xl: 1.5rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background-color: #0e1113;
  color: #e6e0ee;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}
